Repository doittogetter/BE, pull requests merged in 2025-03, with the labels that each got.

#65 [FEAT] 초대 링크 테스트용 API 구현
  src/main/java/com/doittogether/platform/business/channel/ChannelService.java
  src/main/java/com/doittogether/platform/business/channel/ChannelServiceImpl.java
  src/main/java/com/doittogether/platform/business/invite/InviteLinkService.java
  src/main/java/com/doittogether/platform/business/invite/InviteLinkServiceImpl.java
  src/main/java/com/doittogether/platform/presentation/controller/channel/ChannelController.java
  src/main/resources/application.yml
  src/test/java/com/doittogether/platform/business/channel/ChannelServiceTest.java
  src/test/java/com/doittogether/platform/business/invite/InviteLinkServiceImplTest.java
Labels: Feature

#67 [REFACTOR] 레디스 설정 및 로그 수정
  src/main/java/com/doittogether/platform/business/invite/InviteLinkServiceImpl.java
  src/main/java/com/doittogether/platform/common/config/EmbeddedRedisConfig.java
  src/main/java/com/doittogether/platform/common/config/RedisConfig.java
  src/main/resources/application.yml
Labels: Refactoring

#74 [CHORE] junit test 주석처리
  build.gradle
Labels: Chore

#71 [FEAT] 디스코드 알림 기능 구현
  build.gradle
  src/main/java/com/doittogether/platform/DoItTogetherApplication.java
  src/main/java/com/doittogether/platform/application/global/exception/ExceptionAdvice.java
  src/main/java/com/doittogether/platform/business/discord/DiscordAlertSender.java
  src/main/java/com/doittogether/platform/business/discord/DiscordErrorClientApi.java
  src/main/java/com/doittogether/platform/business/discord/DiscordMessageGenerator.java
  src/main/java/com/doittogether/platform/business/discord/DiscordSignUpClientApi.java
  src/main/java/com/doittogether/platform/common/oauth2/CustomOAuth2UserService.java
  src/main/java/com/doittogether/platform/presentation/dto/discord/DiscordEmbedDto.java
  src/main/java/com/doittogether/platform/presentation/dto/discord/DiscordMessageDto.java
  src/main/resources/application.yml
Labels: Feature

#73 [CHORE] 오토리뷰어 수정
  .github/workflows/AutoAssigneeAndReviewer.yml
Labels: Chore
