Repository doittogetter/BE, pull requests merged in 2025-01, with the labels that each got.

#26 [STYLE] statistics 서비스 오타 수정
  src/main/java/com/doittogether/platform/business/stastics/StatisticsServiceImpl.java
Labels: Style

#28 [CHORE] 캐싱 삭제
  .github/workflows/CD.yml
Labels: Chore

#30 [CHORE] yml 문법 오류로 인한 수정
  .github/workflows/AutoAssigneeAndReviewer.yml
  .github/workflows/CD.yml
Labels: Chore

#32 [CHORE] 도커파일 못찾는 문제 해결
  .github/workflows/CD.yml
Labels: Chore

#36 [REFACTOR] 성향 도메인 컨벤션 리펙토링
  src/main/java/com/doittogether/platform/business/openai/ChatGPTService.java
  src/main/java/com/doittogether/platform/business/personality/PersonalityService.java
  src/main/java/com/doittogether/platform/business/personality/PersonalityServiceImpl.java
  src/main/java/com/doittogether/platform/presentation/controller/personality/PersonalityController.java
  src/main/java/com/doittogether/platform/presentation/dto/personality/PersonalityRequest.java
  src/main/java/com/doittogether/platform/presentation/dto/personality/PersonalityResponse.java
Labels: Refactoring

#40 [REFACTOR] 유저 도메인 기능 관련 수정
  src/main/java/com/doittogether/platform/business/channel/ChannelServiceImpl.java
  src/main/java/com/doittogether/platform/business/user/UserServiceImpl.java
Labels: Refactoring

#42 [FEAT] 회원 정보 조회 수정
  src/main/java/com/doittogether/platform/business/user/UserService.java
  src/main/java/com/doittogether/platform/business/user/UserServiceImpl.java
  src/main/java/com/doittogether/platform/presentation/controller/user/UserController.java
  src/main/java/com/doittogether/platform/presentation/dto/user/response/UserResponse.java
Labels: Feature
